body{
  background: linear-gradient(to right, green,yellow);
}
h1{
  color: lightblue;
  font-size: 100px;
}
button1{
  font-size: 100px;
  background-color: whitesmoke;
  border: 3px solid gray;
  border-radius: 10px;
  color: lightseagreen;
  position: absolute;
  left: 420px;
  top: 460px; }
#n{
  font-size:100px;
  position:absolute;
  left: 350px;
  top: 200px;
  color:lightgoldenrodyellow;
}
button1:hover{
  opacity: .7;
  
}